/*
 *自定义的~~
 *hwg
 */

.IncreaseNum, .DecreaseNum {
    /*border: 1px solid;*/
    border-color: #3d4145;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.ncui-amoutn-container {
    flex-flow: row;
    align-items: center;
    justify-items: center;
}

.ncui-input {
    width: 60%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    text-align: center;
    font-size: inherit;
    color: inherit;
    height: 1.41176471em;
    line-height: 1.41176471;
}

.ncui-cart-amount {
    width: 110px;
    height: 32px;
    border: 1px solid #5f646e;
    border-radius: 4px;
}

.NC-category-top {
    border-bottom: 1px solid #e8e8e8;
    position: fixed;
    left: 0;
    top: 44px;
    right: 0;
    z-index: 1;
    background: #F6F6F9
}

.NC-back-model {
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 44px;
    background-color: white;
}

.nc-header-icon-back {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 44px;
    z-index: 2;
    line-height: 44px;
    font-size: 16px;
    color: #252525;
}

.nc-header-title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    align-content: center;
    text-align: center;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    color: #252525;
}
.name-index-hwg {
    font-size:20px;
    color:#454545;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    height: 60px;
}
.wy-pro-pri-hwg{
    color:#e21323;
    font-size:17px;
    margin-top:3px;
    line-height:20px;
}
.wy-pro-pri-hwg span{
    font-family:Arial, Helvetica, sans-serif;
    padding-left:3px;
    font-size:17px;
}