/*
 *自定义的~~
 *hwg
 */

.IncreaseNum,.DecreaseNum{
    /*border: 1px solid;*/
    border-color:#3d4145;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.ncui-amoutn-container{
    flex-flow: row;
    align-items: center;
    justify-items: center;
}
.ncui-input{
    width: 60%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    text-align: center;
    font-size: inherit;
    color: inherit;
    height: 1.41176471em;
    line-height: 1.41176471;
}
.ncui-cart-amount{
    width:110px;
    height: 32px;
    border: 1px solid #5f646e;
    border-radius: 4px;
}