<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>新增地址</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" href="lib/weui.min.css">
<link rel="stylesheet" href="css/jquery-weui.css">
<link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/base.css"/>
  <script type="text/javascript" src="js/base.js"></script>
</head>
<body ontouchstart>
<!--主体-->
<div class="NC-back-model">
  <div class="nc-header-icon-back" onclick="BackToPrevPage()"><span>◁返回</span></div>
  <div class="nc-header-title">
    新增地址
  </div>
</div>
<div class="weui-content">
  <div class="weui-cells weui-cells_form wy-address-edit">
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">收货人</label></div>
      <div class="weui-cell__bd"><input id="RealName" class="weui-input" type="text" placeholder="请输入真实姓名"></div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">手机号</label></div>
      <div class="weui-cell__bd"><input id="RealPhone" class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入收货人手机号码"></div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">所在地区</label></div>
      <div class="weui-cell__bd"><input class="weui-input" id="address" type="text" value="江西省 南昌市 西湖区" readonly="" ></div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">详细地址</label></div>
      <div class="weui-cell__bd">
        <textarea class="weui-textarea" id="address_details" placeholder="请填写详细地址"></textarea>
      </div>
    </div>
    <div class="weui-cell weui-cell_switch">
      <div class="weui-cell__bd">设为默认地址</div>
      <div class="weui-cell__ft"><input id="acquiescence" class="weui-switch" type="checkbox"></div>
    </div>
  </div> 
  <div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" onclick="addBtn()" id="showTooltips">保存此地址</a>
  </div>

</div>

<script src="lib/jquery-2.1.4.js"></script> 
<script src="lib/fastclick.js"></script> 
<script type="text/javascript" src="js/jquery.Spinner.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>

<script src="js/jquery-weui.js"></script>
<script src="js/city-picker.js"></script>
<script>
      $("#address").cityPicker({
        title: "选择收货地址",
        onChange: function (picker, values, displayValues) {
          console.log(values, displayValues);
        }
      });
      function addBtn() {
          var name=$("#RealName").val();
          var phone=$("#RealPhone").val();
          var address=$("#address").val();
          var address_details=$("#address_details").val();
          var acquiescence="否";
          if($("#acquiescence").prop("checked"))
              acquiescence="是";
          var params="name="+name+"&phone="+phone+"&address="+address+"&address_details="
              +address_details+"&acquiescence="+acquiescence;
          // alert(params);
          // $.toast("添加成功");
          $.ajax({
              url:"/mall/AddAddress",
              data:params,
              type:"post",
              success:function (data) {
                  if(data== 1)
                    $.toast("添加成功",1000,function () {
                        window.history.back();
                    });
                  else if(data==-1){
                      $.toast("总地址数量超过12条");
                  }
                  else
                      $.toast("E:3021 未知错误请重试");
              }
          });
      }
</script>
</body>
</html>
