
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>地址管理</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" href="lib/weui.min.css">
<link rel="stylesheet" href="css/jquery-weui.css">
<link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/base.css">
  <script type="text/javascript" src="js/base.js">



  </script>
</head>
<body ontouchstart>
<!--主体-->
<!--<header class="wy-header">-->
  <!--<div class="wy-header-icon-back"><span></span></div>-->
  <!--<div class="wy-header-title">选择收货地址</div>-->
<!--</header>-->
<div class="NC-back-model">
  <div class="nc-header-icon-back" onclick="BackToPrevPage()"><span>◁返回</span></div>
  <div class="nc-header-title">
    选择收货地址
  </div>
</div>
<div class="weui-content">

  <div class="weui-panel address-box">


    <a th:each="address : ${Model.AddList}" th:href="@{/SetAddress?Re_id=}+${address.Re_id}"
    style="text-decoration: none;color: black;">
      <div class="weui-panel__bd" >
        <div class="weui-media-box weui-media-box_text address-list-box">
          <!--<a th:href="@{/EditAddress?Re_id=}+${address.Re_id}" class="address-edit"></a>-->
          <h4 class="weui-media-box__title"><span th:text="收货人：+${address.name}"></span></h4>
          <h5><span th:text="收货电话：+${address.phone}"></span></h5>
          <p class="weui-media-box__desc address-txt" th:text="${address.province}+${address.city}+${address.county}+${address.address_details}"></p>
          <span style="background-color: #9598a5" th:if="${address.acquiescence} eq 是">默认地址</span>
        </div>
      </div>
    </a>

    
  </div>
</div>

<script src="lib/jquery-2.1.4.js"></script> 
<script src="lib/fastclick.js"></script> 
<script type="text/javascript" src="js/jquery.Spinner.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
<script src="js/jquery-weui.js"></script>
</body>
</html>
