
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>地址管理</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" href="lib/weui.min.css">
<link rel="stylesheet" href="css/jquery-weui.css">
<link rel="stylesheet" href="css/style.css">

  <script type="text/javascript" src="js/base.js"></script>
</head>
<body ontouchstart>
<!--主体-->
<header class="wy-header">
  <div class="wy-header-icon-back" onclick="BackToPrevPage()"><span></span></div>
  <div class="wy-header-title">地址管理</div>
</header>
<div class="weui-content">

  <div class="weui-panel address-box">
    <div class="weui-panel__bd" th:each="address : ${addressListModel.AddList}">
      <div class="weui-media-box weui-media-box_text address-list-box">
        <a th:href="@{/mall/EditAddress?Re_id=}+${address.Re_id}" class="address-edit"></a>
        <h4 class="weui-media-box__title"><span th:text="${address.name}"></span><span th:text="${address.phone}"></span></h4>
        <p class="weui-media-box__desc address-txt" th:text="${address.province}+${address.city}+${address.county}+${address.address_details}"></p>
        <span style="background-color: #9598a5" th:if="${address.acquiescence} eq 是">默认地址</span>
        <span class="default-add" th:if="${address.acquiescence} eq 否">设为默认地址</span>
        <input type="hidden" th:value="${address.Re_id}"/>
      </div>
    </div>

    
  </div>
  <div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="address_add.html" id="showTooltips">添加收货地址</a>
  </div>
</div>

<script src="lib/jquery-2.1.4.js"></script> 
<script src="lib/fastclick.js"></script> 
<script type="text/javascript" src="js/jquery.Spinner.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
    $(".default-add").click(function () {
      var Reid=$(this).next().val();
      var params="Re_id="+Reid;
      // $.toast(params,"text");
      $.ajax({
          url:"/mall/SetDefaultAddress",
          data:params,
          type:"post",
          success:function (data) {
              if(data==1){
                  $.toast("已设为默认地址",1000,function () {
                      window.location.reload();
                  });

              }

              else
                  $.toast("E:3023 未知错误","forbidden")
          }
      });
    });
  });
</script>
<script src="js/jquery-weui.js"></script>
</body>
</html>
