<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/mall/lib/jquery-2.1.4.js"></script>
    <script src="/mall/lib/fastclick.js"></script>
    <link rel="stylesheet" href="/mall/lib/weui.min.css">
    <link rel="stylesheet" href="/mall/css/jquery-weui.css">
    <script src="/mall/js/jquery-weui.js"></script>
    <title>支付处理</title>
</head>
<body>
<h1></h1>
</body>
<script>
    var paySignJSON;
    $(function () {
        $.ajax({
            type: "POST",
            url: "http://nchhr.com/mall/wechat/pay/handle",
            dataType: "json",
            success: function (data) {
                paySignJSON = data;
                // alert(JSON.stringify(paySignJSON));

                if (typeof WeixinJSBridge == "undefined"){
                    if( document.addEventListener ){
                        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                    }else if (document.attachEvent){
                        document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                    }
                }else{
                    onBridgeReady();
                }
            },
            error: function () {
                alert("error");
            }
        });

        function onBridgeReady(){
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest', {
                    "appId":paySignJSON.appId,
                    "timeStamp":paySignJSON.timeStamp,
                    "nonceStr":paySignJSON.nonceStr,
                    "package":paySignJSON.package,
                    "signType":paySignJSON.signType,
                    "paySign":paySignJSON.paySign
                },

                function(res){
                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                        $.toast("支付完成<br>正在处理", 5000, function(){
                            $(location).attr('href', '/mall/orderListPage');
                        });
                    }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                        $(location).attr('href', '/mall/orderListPage');
                    }else if(res.err_msg == "get_brand_wcpay_request:fail"){
                        alert('支付失败');
                        $(location).attr('href', '/mall/orderListPage');

                    }
                }
            );
        }
    });

</script>
</html>