<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>产品详情</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" href="lib/weui.min.css">
<link rel="stylesheet" href="css/jquery-weui.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/base.css"/>

  <script src="lib/jquery-2.1.4.js"></script>

  <script src="js/pro_info.js"></script>
  <script type="text/javascript" src="js/base.js"></script>

</head>
<body ontouchstart>
<!--主体-->
<div class="NC-back-model">
  <div class="nc-header-icon-back" onclick="BackToPrevPage()"><span>◁返回</span></div>
  <div class="nc-header-title">
    产品详情
  </div>
</div>
<div class="weui-content">
  <!--产品详情-->
  <input type="hidden" th:value="${ProModel.CV.commodityEntity.C_id}" id="C_id"/>
  <input type="hidden" th:value="${ProModel.CV.commodityEntity.stock}" id="stock" />
  <div class="weui-tab">
    <div class="weui-navbar" style="position:relative; top:0px; left:0; right:0; height:44px;">
      <a class="weui-navbar__item proinfo-tab-tit weui-bar__item--on" href="#tab1">商品</a>
      <a class="weui-navbar__item proinfo-tab-tit" href="#tab2">详情</a>
      <a class="weui-navbar__item proinfo-tab-tit" href="#tab3">评价</a>
    </div>
    <div class="proinfo-tab-con">
      <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
        <!--主图轮播-->
        <div class="swiper-container swiper-zhutu">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img th:src="'/mall/goods/'+${ProModel.CV.commodityEntity.image}" /></div>
            <div class="swiper-slide"><img th:src="'/mall/goods/'+${ProModel.CV.commodityEntity.image}" /></div>
            <div class="swiper-slide"><img th:src="'/mall/goods/'+${ProModel.CV.commodityEntity.image}" /></div>
            <div class="swiper-slide"><img th:src="'/mall/goods/'+${ProModel.CV.commodityEntity.image}" /></div>
            <div class="swiper-slide"><img th:src="'/mall/goods/'+${ProModel.CV.commodityEntity.image}" /></div>
          </div>
          <div class="swiper-pagination swiper-zhutu-pagination"></div>
        </div>
        <div class="wy-media-box-nomg weui-media-box_text">
          <h4 class="wy-media-box__title" th:text="${ProModel.CV.commodityEntity.name}"></h4>
          <div class="wy-pro-pri mg-tb-5">¥<em class="num font-20" th:text="${ProModel.CV.commodityEntity.price}">296.00</em></div>
          <p class="weui-media-box__desc" th:text="${ProModel.CV.commodityEntity.comment}"></p>
        </div>

        <div class="wy-media-box2 weui-media-box_text">
          <!--<div class="weui-media-box_appmsg">-->
            <!--<div class="weui-media-box__hd proinfo-txt-l"><span class="promotion-label-tit">规格</span></div>-->
            <!--<div class="weui-media-box__bd">-->
              <!--<div class="promotion-sku clear">-->
                <!--<ul>-->
                  <!--<li><a href="javascript:;" th:text="${ProModel.CV.year.year}">6瓶/箱</a></li>-->
                <!--</ul>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="weui-media-box_appmsg">
            <div class="weui-media-box__hd proinfo-txt-l"><span class="promotion-label-tit">库存</span></div>
            <div class="weui-cell__bd">
              <span th:text="${ProModel.CV.commodityEntity.stock}"></span>
            </div>
          </div>
        </div>

          <div class="weui-media-box_appmsg">
            <div class="weui-media-box__hd proinfo-txt-l"><span class="promotion-label-tit">运费</span></div>
            <div class="weui-media-box__bd">
              <div class="promotion-message clear">
                <span class="promotion-item-text">免运费<!--<div class="wy-pro-pri">¥<span class="num">11.00</span></div>--></span>
              </div>
            </div>
          </div>
          <!--<div class="weui-media-box_appmsg">-->
            <!--<div class="weui-media-box__hd proinfo-txt-l"><span class="promotion-label-tit">商家</span></div>-->
            <!--<div class="weui-media-box__bd">-->
              <!--<div class="promotion-message clear">-->
                <!--<span class="promotion-item-text">蓝之蓝股份有限公司</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="weui-media-box_appmsg">
            <div class="weui-media-box__hd proinfo-txt-l"><span class="promotion-label-tit">提示</span></div>
            <div class="weui-media-box__bd">
              <div class="promotion-message clear">
                <span class="promotion-item-text"><p class="txt-color-ml">支持7天无理由退换货</p></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab2" class="weui-tab__bd-item ">

      </div>
      <div id="tab3" class="weui-tab__bd-item">

        
      </div>
    </div>
  </div>  
</div>
<span id="tophovertree" title="返回顶部"></span>
<!--底部导航-->
<div class="foot-black"></div>
<div class="weui-tabbar wy-foot-menu">
  <a href="javascript:;" class="promotion-foot-menu-items" id="CustomService">
    <div class="weui-tabbar__icon promotion-foot-menu-kefu"></div>
    <p class="weui-tabbar__label">客服</p>
  </a>
  <!--<a href="javascript:;" id='show-toast' class="promotion-foot-menu-items">-->
    <!--<div class="weui-tabbar__icon promotion-foot-menu-collection"></div>-->
    <!--<p class="weui-tabbar__label">收藏</p>-->
  <!--</a>-->
  <a th:href="@{/shopCart}" class="promotion-foot-menu-items">
    <div class="weui-tabbar__icon promotion-foot-menu-cart"></div>
    <p class="weui-tabbar__label">购物车</p>
  </a>

  <a href="javascript:;" class="weui-tabbar__item yellow-color" id="AddToCartBtn1">
    <p class="promotion-foot-menu-label">加入购物车</p>
  </a>
  <a href="javascript:;" class="weui-tabbar__item red-color"  id="BuyNowBtn1">
    <p class="promotion-foot-menu-label">立即购买</p>
  </a>
</div>
<!--加入购物车成功-->
<div id="join_cart" class="weui-popup__container popup-bottom" style="z-index:600;">
  <div class="weui-popup__overlay" style="opacity:1;"></div>
  <div class="weui-popup__modal">
    <div class="modal-content">
      <div class="weui-msg" style="padding-top:0;">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
          <h2 class="weui-msg__title">成功加入购物车</h2>
          <p class="weui-msg__desc">亲爱的用户，您的商品已成功加入购物车，为了保证您的商品快速送达，请您尽快到购物车结算。</p>
        </div>
        <div class="weui-msg__opr-area">
          <p class="weui-btn-area">
            <a  th:href="@{/shopCart}" class="weui-btn weui-btn_primary">去购物车结算</a>
            <a id="NoISeeMore" href="javascript:;" class="weui-btn weui-btn_default close-popup">不，我再看看</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--立即购买-->
<div id="selcet_sku" class='weui-popup__container popup-bottom' style="z-index:600;">
  <div class="weui-popup__overlay" style="opacity:1;"></div>
  <div class="weui-popup__modal">
    <div class="toolbar">
      <div class="toolbar-inner">
        <a href="javascript:;" class="picker-button close-popup" id="CloseByDia">关闭</a>
        <h1 class="title">商品属性</h1>
      </div>
    </div>
    <div class="modal-content">
      <div class="weui-msg" style="padding-top:0;">
        <div class="wy-media-box2 weui-media-box_text" style="margin:0;">


          <!--<div class="weui-media-box_appmsg">-->
            <!--<div class="weui-media-box__hd proinfo-txt-l"><span class="promotion-label-tit">规格</span></div>-->
            <!--<div class="weui-media-box__bd">-->
              <!--<div class="promotion-sku clear">-->
                <!--<ul>-->
                  <!--<li><a href="javascript:;" th:text="${ProModel.CV.year.year}">6瓶/箱</a></li>-->
                <!--</ul>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="weui-media-box_appmsg">
            <div class="weui-media-box__hd proinfo-txt-l"><span class="promotion-label-tit">数量</span></div>
            <div class="weui-cell__bd">
              <div class="ncui-amoutn-container">
                <span class="DecreaseNum">－</span>
                <input id="BuyCount3" class="ncui-input" type="number" value="1" pattern="[0-9]*" max="10">
                <span class="IncreaseNum">＋</span>
              </div>

            </div>
            <span th:text="库存：+${ProModel.CV.commodityEntity.stock}"></span>
          </div>
        </div>
        <div class="weui-msg__opr-area">
          <p class="weui-btn-area">
            <a  href="javascript:;" class="weui-btn weui-btn_primary" id="BuyNowBtn2" >立即购买</a>
            <a href="javascript:;" class="weui-btn weui-btn_default close-popup" id="NoISeeMore2">不，我再看看</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--加购物车选择页面-->
<div id="selcet_cart" class='weui-popup__container popup-bottom' style="z-index:600;">
  <div class="weui-popup__overlay" style="opacity:1;"></div>
  <div class="weui-popup__modal">
    <div class="toolbar">
      <div class="toolbar-inner">
        <a href="javascript:;" class="picker-button close-popup" id="CloseCartDia">关闭</a>
        <h1 class="title">商品属性</h1>
      </div>
    </div>
    <div class="modal-content">
      <div class="weui-msg" style="padding-top:0;">
        <div class="wy-media-box2 weui-media-box_text" style="margin:0;">


          <!--<div class="weui-media-box_appmsg">-->
            <!--<div class="weui-media-box__hd proinfo-txt-l"><span class="promotion-label-tit">规格</span></div>-->
            <!--<div class="weui-media-box__bd">-->
              <!--<div class="promotion-sku clear">-->
                <!--<ul>-->
                  <!--<li><a href="javascript:;" th:text="${ProModel.CV.year.year}">6瓶/箱</a></li>-->
                <!--</ul>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="weui-media-box_appmsg">
            <div class="weui-media-box__hd proinfo-txt-l"><span class="promotion-label-tit">数量</span></div>
            <div class="weui-cell__bd">
              <div class="ncui-amoutn-container">
                <span class="DecreaseNum">－</span>
                <input id="BuyCount2" class="ncui-input" type="number" value="1" pattern="[0-9]*" max="10">
                <span class="IncreaseNum">＋</span>
              </div>

              <!--<input  class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入购买箱数"/>-->
            </div>
            <span th:text="库存：+${ProModel.CV.commodityEntity.stock}"></span>
          </div>



        </div>
        <div class="weui-msg__opr-area">
          <p class="weui-btn-area">
            <a href="javascript:;" class="weui-btn weui-btn_primary" id="AddToCartBtn2">加入购物车</a>
            <!--<a href="javascript:;" class="weui-btn weui-btn_default close-popup" id="NoISeeMore2">不，我再看看</a>-->
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="custom_service" class='weui-popup__container' style="z-index:600;">
  <div class="weui-popup__overlay"></div>
    <div id="madalBtn" style="height: 100%;width: 100%;text-align: center;">
      <div class="weui-popup__modal" style="background-color: rgba(0,0,0,0.69);">
        <img src="images/bossWeChatPic.jpg"
             style="height: 226px;width: 188px;border-radius: 4px;margin-top: 52%;">
      </div>
    </div>
  </div>
</div>

<script type="javascript" src="js/base.js"></script>

</body>
</html>
