<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>购物车</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
  <link rel="stylesheet" href="lib/weui.min.css">
  <link rel="stylesheet" href="css/jquery-weui.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/base.css"/>

  <script src="lib/jquery-2.1.4.js"></script>
  <script src="lib/fastclick.js"></script>
  <script type="text/javascript" src="js/jquery.Spinner.js"></script>
  <script type="text/javascript" src="js/base.js"></script>
</head>
<body ontouchstart>
<!--主体-->
<div class="NC-back-model">
  <div class="nc-header-icon-back" onclick="BackToPrevPage()"><span>◁返回</span></div>
  <div class="nc-header-title">
    购物车
  </div>
</div>
<div class="weui-content">
  <div class="weui-panel weui-panel_access" th:each="commodity : ${shopcartModel.commodities}">
    <div class="weui-panel__hd">
      <span>酒水商城</span>
      <a href="javascript:;" class="wy-dele">
      </a>
      <input type="hidden" th:value="${commodity.C_id}" class="C_id"/>
    </div>
    <div class="weui-panel__bd">
      <div class="weui-media-box_appmsg pd-10">

        <div class="weui-media-box__hd check-w weui-cells_checkbox ncui-cells_checkbox">
          <label class="weui-check__label">
            <div class="weui-cell__hd cat-check">
              <input type="checkbox" disabled="disabled" class="weui-check" name="cartpro">
              <i class="weui-icon-checked"></i>
            </div>
          </label>
        </div>
        <!--图片-->
        <div class="weui-media-box__hd">
          <a th:href="@{/pro_info?id=}+ ${commodity.C_id}">
            <img class="weui-media-box__thumb" th:src="'/mall/goods/'+${commodity.image}" alt="">
          </a>
        </div>
        <!--价格&数量-->
        <div class="weui-media-box__bd">
          <h1 class="weui-media-box__desc"><a th:href="@{/pro_info?id=}+ ${commodity.C_id}" class="ord-pro-link"><span th:text="${commodity.name}"></span></a></h1>
          <div class="clear mg-t-10">
            <div class="wy-pro-pri fl">¥<em class="num font-15" th:text="${commodity.price}" id="price"></em></div>
            <div class="pro-amount fr">
              <div class="ncui-amoutn-container ncui-cart-amount">
                <span class="DecreaseNum">－</span>
                <input  type="number" th:attr="value=${commodity.add_time}" id="count" class="ncui-input"   style="width: 40px;">
                <span class="IncreaseNum">＋</span>
              </div>
              <input type="hidden" th:value="${commodity.C_id}" class="C_id"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--底部导航-->
<div class="foot-black"></div>
<div class="weui-tabbar wy-foot-menu">
  <div class="npd cart-foot-check-item weui-cells_checkbox allselect">
    <label class="weui-cell allsec-well weui-check__label" for="all">
      <div class="weui-cell__hd">
        <input type="checkbox" class="weui-check" name="all-sec" id="all">
        <i class="weui-icon-checked"></i>
      </div>
      <div class="weui-cell__bd">
        <p class="font-14">全选</p>
      </div>
    </label>
  </div>

  <div class="weui-tabbar__item  npd">
    <p class="cart-total-txt">合计：<i>￥</i><em class="num font-16" id="zong1">0</em></p>
  </div>
  <a id="toPayBtn" class="red-color npd w-90 t-c">
    <p class="promotion-foot-menu-label">去结算</p>
  </a>
</div>

<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>
<script type="text/javascript">
    $(function(){
        // $(".Spinner").Spinner({value:1, len:3, max:9999999});
        $(".Spinner").each(function () {
            var number=$(this).next().val();
            $(this).Spinner({value:number,len:3,max:9999999});
        });
        $(".DecreaseNum").click(function () {
            // alert("hello");
            var num=Number($(this).next().val());
            // alert(num);
            // alert("-1=="+num);
            // num -= 1;
            // alert(num);
            if(num <= 1 ){
            }else{
                $(this).next().prop("value",num-1);
            }
        });
        $(".IncreaseNum").click(function () {
            // alert("hello");
            var num=Number($(this).prev().val());
            // alert(num);
            // alert("+1=="+num);
            // num += 1;
            // alert(num);
            $(this).prev().prop("value",num+1);
        });


        $("#toPayBtn").click(function () {

            $.showLoading("正在处理");
            var dataString="";
            var tempString="";
            $(".ncui-cells_checkbox").each(function () {
                if($(this).find("input[name=cartpro]").prop("checked")){
                    tempString = $(this).next().next().find(".C_id").val();
                    tempString +=":";
                    tempString += $(this).next().next().find("#count").val();
                    tempString += ",";
                }
                dataString += tempString;
                tempString="";
            });
            if(dataString==""){
                $.hideLoading();
                $.toast("至少选择一件商品","text");
                return ;
            }
            window.location.href="/mall/saveCommodityData?CommodityData="+dataString;

        });



    });
</script>
<script src="js/jquery-weui.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // 全选按钮
        $(".allselect").click(function () {
            if($(this).find("input[name=all-sec]").prop("checked")){
                $(".ncui-cells_checkbox").each(function () {
                    if($(this).find("input[name=cartpro]").prop("checked")){

                    }else{
                        $(this).click();
                    }
                });
            }
            else
            {
                $(".ncui-cells_checkbox").each(function () {
                    $(this).click();
                });
            }
        });

        // 点击选择
        $(".ncui-cells_checkbox").click(function (e) {
            e.stopPropagation();
            var AmountOld=Number($("#zong1").text())*100;
            var Price=Number($(this).next().next().find("#price").text())*100;
            var Count=Number($(this).next().next().find("#count").val());
            // alert(Price+"--"+Count);
            if($(this).find("input[name=cartpro]").prop("checked")){
                AmountOld -= Price*Count;
                $(this).find("input[name=cartpro]").prop("checked",false);
            }else
            {
                AmountOld += Price*Count;
                $(this).find("input[name=cartpro]").prop("checked",true);
            }
            $("#zong1").text(AmountOld/100);
        });

        // 从购物车删除
        $(".wy-dele").click(function () {
            var C_id=$(this).next().val();
            // alert(C_id);
            $.confirm("您确定要把此商品从购物车删除吗?", "确认删除?", function() {
                // alert(C_id);
                $.ajax({
                        url:"/mall/shopCart/removeFromCart",
                        data:"C_id="+C_id,
                        type:"post",
                        success:function (data) {
                            if(data=="1"){
                                window.location.reload();
                            }else{
                                $.toast("移除失败!请重试");
                            }
                        },
                    }
                );
            }, function() {
                //取消操作
            });
        });
    });
</script>



</body>
</html>